---
  import Layout from "../layouts/Layout.astro";
  import Header from "../components/Header.astro";
  import Card from "../components/Card.astro";
---

<Layout title="Mi pagina">
  <Header></Header>
  <main>
    <Card title="Proyecto 1"></Card>
    <Card title="Proyecto 2"></Card>
    <Card></Card>
    <Card></Card>
  </main>
</Layout>